---
---
{% include head.html %}
	<title>Map Bearing Tool</title>
	<link rel="stylesheet" href="/lib/leaflet/leaflet.css" />
	<script src="/lib/leaflet/leaflet.js"></script>
	<link rel="stylesheet" href="/res/default.css" />
	<style>
		.leaflet-button-custom {
			background: #eee;
			padding: 0.5em;
			font-weight: bold;
			user-select: none;
		}
	</style>
</head>
<body>
	<div id="map" style="width: 96vw; height: 86vh;"></div>
	<div id="offsetDiv" style="display: none">
		<label for="offset">Relative heading offset: </label>
		<output id="offsetOut" for="offset"></output><br />
		<input type="range" min=0 max=360 step=1 value=0 id="offset" style="width: 99%" />
	</div>
	<div style="font-size: 80%; font-weight: bold; margin: 3pt;">
		<span id="warnNoPos">Warning: no position events have been received<br/></span>
		<span id="warnNoOri">Warning: no orientation events have been received</span>
	</div>
	<script>
	const map = L.map("map", {
		center: [39.833333, -98.583333],
		zoom: 4
	});
	
	L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	</script>
	<script>
		var userPos = null;
		var shotLines = [];
		const warnNoPos = document.getElementById("warnNoPos");
		const warnNoOri = document.getElementById("warnNoOri");
		const offsetEle = document.getElementById("offset");
		const offsetOut = document.getElementById("offsetOut");
		const offsetDiv = document.getElementById("offsetDiv");
		
		function rad(x) {return x / (180 / Math.PI);}
		function deg(x) {return x * (180 / Math.PI);}
		
		L.Control.CustomButton = L.Control.extend({
			options: {
				position: "topright",
				text: "Custom Button",
				_onClick: function() {}
			},
			
			onAdd: function(map) {
				this._container = L.DomUtil.create("div", "leaflet-bar");
				this._container.classList.add("leaflet-button-custom");
				L.DomEvent.disableClickPropagation(this._container);
				L.DomEvent.on(this._container, "click", this.options._onClick, this);
				this._container.innerText = this.options.text;
				return this._container;
			},
			onRemove: function() {
				L.DomEvent.off(this._container, "click", this.options._onClick, this);
			},
		});
		
		function saveShotLines() {
			localStorage.setItem("shotLines", JSON.stringify(shotLines.map(function(line) {
				const latLngs = line.getLatLngs();
				return latLngs.map(function(ll) {return [ll.lat, ll.lng];});
			})));
		}
		
		new L.Control.CustomButton({text: "Shoot!", position: "bottomright", _onClick: function() {
			if ((userPos === null) || (userPos.bearing === null)) {return;}
			
			const line = L.polyline([
				userPos.latLng,
				fromPoint(userPos.latLng, userPos.bearing, 100)
			], {opacity: 0.5, weight: 1, color: "#000"}).addTo(map);
			
			shotLines.push(line);
			saveShotLines();
		}}).addTo(map);
		new L.Control.CustomButton({text: "Unshoot", position: "bottomleft", _onClick: function() {
			var line = shotLines.pop();
			saveShotLines();
			
			if (!line) {return;}
			line.remove();
		}}).addTo(map);
		
		function fromPoint(ll, bear, dist) {
			const R = 6378.1; // Kilometers
			const lat0=rad(ll.lat), lon0=rad(ll.lng);
			bear = rad(bear);
			
			const lat1 = Math.asin(
				Math.sin(lat0)*Math.cos(dist/R)+
				Math.cos(lat0)*Math.sin(dist/R)*Math.cos(bear)
			);
			
			const lon1 = lon0 + Math.atan2(
				Math.sin(bear)*Math.sin(dist/R)*Math.cos(lat0),
				Math.cos(dist/R)-Math.sin(lat0)*Math.sin(lat1)
			);
			
			return L.latLng(deg(lat1), deg(lon1));
		}
		
		function onUserPosUpdate() {
			userPos.markerRadius.setLatLng(userPos.latLng);
			userPos.markerRadius.setRadius(userPos.coords.accuracy);
			
			if (userPos.bearing !== null) {
				userPos.line.setLatLngs([
					userPos.latLng,
					fromPoint(userPos.latLng, userPos.bearing, 100)
				]);
			}
		}
		
		navigator.geolocation.watchPosition(function(e) {
			warnNoPos.style.display = "none";
			const c = e.coords;
			const ll = L.latLng(c.latitude, c.longitude);
			
			if (userPos === null) {
				map.setView(ll, 14);
				
				userPos = {};
				userPos.bearing = null;
				userPos.markerRadius = L.circle(ll, {radius: c.accuracy, stroke: false, fillOpacity: 0.3, fillColor: "#f00"}).addTo(map);
				userPos.line = L.polyline([ll], {opacity: 0.3, color: "#f00"}).addTo(map);
			}
			
			userPos.latLng = L.latLng(e.coords.latitude, e.coords.longitude);
			userPos.coords = e.coords;
			onUserPosUpdate();
		}, function(e) {console.error(e);}, {enableHighAccuracy: true,});
		
		function orientationListener(e) {
			warnNoOri.style.display = "none";
			if (userPos === null) {return;}
			
			var offset = 0;
			if (!e.absolute) {
				offset = parseFloat(offsetEle.value);
				offsetOut.innerHTML = offset + " &deg;";
				offsetDiv.style.display = "";
			} else {
				offset = 0;
			}
			
			userPos.bearing = offset-e.alpha;
			onUserPosUpdate();
		}
		
		if ("ondeviceorientationabsolute" in window) {
			window.addEventListener("ondeviceorientationabsolute", orientationListener);
		} else {
			window.addEventListener("deviceorientation", orientationListener);
		}
		
		var savedLines = localStorage.getItem("shotLines");
		if (savedLines) {
			JSON.parse(savedLines).forEach(function(savedLine) {
				const line = L.polyline(savedLine, {opacity: 0.5, weight: 1, color: "#000"}).addTo(map);
				shotLines.push(line);
			})
		}
	</script>
{% include footer.html %}
</body>
</html>
