<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="referrer" content="origin-when-cross-origin" />
	<meta name="robots" content="index, follow, noarchive, nosnippet, noimageindex" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="color-scheme" content="light dark" />
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="rgb(32, 33, 34)" />
	<meta name="theme-color" media="(prefers-color-scheme: dark)"  content="rgb(20, 20, 20)" />
	<meta name="author" content="Adam Crist" />
	<link rel="stylesheet" href="/res/default.css" />
